.product-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.action-buttons .btn {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
} 